@using PokeBlaz.Services
@inject AuthService AuthService
@inject NavigationManager Navigation
@rendermode InteractiveServer
@implements IDisposable

<nav class="navbar">
    <a href="/"> Accueil</a>
    <a href="/pokemon"> Pokémons</a>

    @if (AuthService.EstConnecte)
    {
        <a href="/favoris"> Mes Favoris</a>
        <a href="/build"> Mon Build</a>
        <span> @AuthService.NomUtilisateur</span>
        <button @onclick="SeDeconnecter">Déconnexion</button>
    }
    else
    {
        <a href="/login"> Connexion</a>
    }
</nav>

@code {
    protected override void OnInitialized()
    {
        AuthService.OnAuthChanged += RefreshNav;
    }

    private void RefreshNav()
    {
        InvokeAsync(StateHasChanged);
    }

    private void SeDeconnecter()
    {
        AuthService.Deconnecter();
        Navigation.NavigateTo("/");
    }

    public void Dispose()
    {
        AuthService.OnAuthChanged -= RefreshNav;
    }
}